{% extends "base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}

<div class="container">
    <h3>Your shopping cart</h3>
    <div class="row">
        {% for item in cart %}
        {% with product=item.product %}
        <div class="col s12 m6 l4">
            <div class="card large">
                <div class="card-image">
                    <a href="{{ product.get_absolute_url }}"><img
                            src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"></a>
                </div>
                <div class="card-content">
                    <span class="card-title black-text grey lighten-4">{{ product.name }}</span>
                    <span>
                        <form action="{% url 'cart:cart_add' product.id %}" method="post" style="display: inline;">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.override }}
                            <input type="submit" value="Update">
                            {% csrf_token %}
                        </form>
                    </span>
                    <span>
                        <form action="{% url 'cart:cart_remove' product.id %}" method="post" style="display: inline;">
                            <input type="submit" value="Remove" class="halfway-fab waves-effect waves-light red"><i
                                class="material-icons white-text">delete</i>
                            {% csrf_token %}
                        </form>
                    </span>
                    <p class="padding">Item Price: ${{ item.price }}</p>
                    <p class="padding">Total Item Price: ${{ item.total_price }}</p>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    <p class="padding">Total Price: ${{ cart.get_total_price }}</p>
    <p class="padding" id="cart_buttons_bottom_padding">
        <a href="{% url 'shop:product_list' %}" class="button light">Continue shopping</a>
        {% if not cart.get_total_price == 0 %}
        <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
        {% endif %}
    </p>
</div>
{% endblock %}