{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="/media/MountainsSuccess.webp" alt="Successful Mountain Runner">
    </div>
</div>

<div class="transparent shadow z-depth-4">
    <section class="showcase section">
        <div class="container showcase-inner center black-text">
            <h3>Organisations Achieve Greater Value through Professionally Coached Employees</h3>
            <p>GaffCo Consulting Professional Communication Competence</p>
        </div>
    </section>
</div>

<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="/media/MountainsSuccess.webp" alt="Successful Mountain Runner">
    </div>
</div>

<div class="transparent shadow z-depth-4">
    <section class="container section">
        <div class="row">
            <div class="col s12 l4">
                <img src="/media/Gaffco_Logo.png" alt="Organisational Courses Marketing Photo"
                    class="responsive-img materialboxed" data-caption="Organisational Course">
                <h2 class="black-text">What I do...</h2>
                <p>I’m a Professional Trainer, Facilitator, and Coach with more than 3 decades experience enabling
                    professionals to
                    successfully communicate and persuade via presentations, demonstrations, and training interventions
                    to make their
                    audiences feel, think, and ideally do something as a result of their presentation, demonstration,
                    and training
                    interventions.</p>
            </div>
            <div class="col s12 l6 offset-l2">
                <!-- Tabs -->
                <ul class="tabs transparent">
                    <li class="tab col s6">
                        <a href="#tab_courses" class="active black-text">Courses<i
                                class="material-icons right black-text">school</i></a>
                    </li>
                    <li class="tab col s6">
                        <a href="#tab_coaching" class="active black-text">Coaching<i
                                class="material-icons right black-text">model_training</i></a>
                    </li>
                </ul>
                <div class="col s12" id="tab_courses">
                    <p><a href="/shop/4/communiction-skills/"><i class="material-icons left">keyboard_arrow_right</i>Communication Skills</a></p>
                    <p>The purpose of this course is to equip the learner with the relevant knowledge, skill and
                        competence to communicate
                        verbally and non-verbally in standard everyday tasks and in work-related tasks, operating
                        independently while under
                        general direction.</p>
                    <p><a href="/shop/6/presentation-and-whiteboarding-skills/"><i class="material-icons left">keyboard_arrow_right</i>Presentation and Whiteboarding Skills</a></p>
                    <p>This Presentation Skills course gives you the knowledge and skills you need to prepare, practice
                        and present
                        professional presentations to any audience. This is a hands-on and pragmatic course with ample
                        opportunity to practice
                        your new and improved knowledge and skills to gain confidence and comfort.</p>
                    <p><a href="/shop/5/train-trainer/"><i class="material-icons left">keyboard_arrow_right</i>Train the Trainer</a></p>
                    <p>The purpose of this course is to equip the learner with the knowledge, skill and competence to
                        identify training and
                        development needs at an organisation and or individual level, to devise a training plan and to
                        explore the scope of
                        training and development design to meet those needs.</p>
                </div>
                <div class="col s12" id="tab_coaching">
                    <!-- <p class="flow-text black-text">Coaching</p> -->
                    <p><a href="/shop/1/presentation-skills/"><i class="material-icons left">keyboard_arrow_right</i>Presentation Skills</a></p>
                    <p>You'll have the knowledge, skills, and attitude to make your audiences feel, think, and do
                        something as a result of your
                        presentations and/or demonstrations through pragmatic and hands-on approaches to designing,
                        developing, and delivering
                        presentations.</p>
                    <p><a href="/shop/7/powerpoint-design-and-delivery/"><i class="material-icons left">keyboard_arrow_right</i>PowerPoint Design and Delivery</a></p>
                    <p>Together we'll work on your presentation, from design to delivery, creating an impactful story
                        with a supportive
                        structure and strong content to get your message across and maintain audience interest. We'll
                        create an eye-catching
                        presentation in PowerPoint. Together we'll improve your presentation style, leveraging the 7 P's
                        of Presentation, and get past potential presentation phobia.</p>
                    <p><a href="/shop/2/whiteboarding-and-visual-notetaking/"><i class="material-icons left">keyboard_arrow_right</i>Whiteboarding and Visual Notetaking</a></p>
                    <p>You'll better explain complex subjects and ideas to your audience, getting your message across in
                        a clear, concise, and
                        constructive manner. Your audience will remember you, and retain far more of the important
                        information you're imparting
                        to them, especially compared to other more common delivery methodologies.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="/media/MountainsSuccess.webp" alt="Successful Mountain Runner">
    </div>
</div>
{% endblock %}