{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="/media/MountainsSuccess.webp" alt="Successful Mountain Runner">
    </div>
</div>

<div class="transparent shadow z-depth-4">
    <section class="showcase section">
        <div class="container showcase-inner center black-text">
            <h1>Organisations Achieve Greater Value through Professionally Coached Employees</h1>
            <p>GaffCo Consulting Professional Communication Competence</p>
        </div>
    </section>
</div>

<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="/media/MountainsSuccess.webp" alt="Successful Mountain Runner">
    </div>
</div>

<div class="transparent shadow z-depth-4">
    <section class="container section">
        <div class="row">
            <div class="col s12 l4">
                <img src="/media/Gaffco_Logo.png" alt="Organisational Courses Marketing Photo" class="responsive-img materialboxed"
                data-caption="Organisational Course">
                <h2 class="black-text">What I do...</h2>
                <p>Professional Communication Competence: Professional training and development in communication and
                    presentation skills, and personal coaching in the same...</p>
                <p>More...information...</p>
            </div>
            <div class="col s12 l6 offset-l2">
                <!-- Tabs -->
                <ul class="tabs transparent">
                    <li class="tab col s6">
                        <a href="#tab_courses" class="active black-text">Courses<i class="material-icons right black-text">school</i></a>
                    </li>
                    <li class="tab col s6">
                        <a href="#tab_coaching" class="active black-text">Coaching<i class="material-icons right black-text">model_training</i></a>
                    </li>
                </ul>
                <div class="col s12" id="tab_courses">
                    <p class="flow-text black-text">Courses</p>
                    <p>The courses are...</p>
                    <p>The courses are...</p>
                    <p>The courses are...</p>
                </div>
                <div class="col s12" id="tab_coaching">
                    <p class="flow-text black-text">Coaching</p>
                    <p>The courses are...</p>
                    <p>The courses are...</p>
                    <p>The courses are...</p>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="/media/MountainsSuccess.webp" alt="Successful Mountain Runner">
    </div>
</div>
{% endblock %}