core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
.venv
.env
Training/.env
/Snippets
chromedriver*
Documentation/Continuous Delivery and Deployment.pptx
Documentation/~$Continuous Delivery and Deployment.pptx
.test
