{% extends "base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<div class="container">
    {% if 'courses' in request.path %}
        <h3>Courses</h3>
    {% elif 'coaching' in request.path %}
        <h3>Coaching</h3>
    {% else %}
        <h3>All Training</h3>
    {% endif %}
    
    <div class="carousel">
        {% for product in products %}
        <a class="carousel-item no-autoinit" href="{{ product.get_absolute_url }}"><img
                src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="Courses and Coaching">
                {{product.name }} ${{ product.price }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}