{% extends "base.html" %}
{% block title %}
404
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 offset-m1 m10 offset-l1 l10">
            <div class="card center large">
                <div class="card-image">
                    <h3>We are lost...though we know how to find our way home...</h3>
                </div>
                <div class="card-content">
                    <span class="card-title pink-text text-darken-1">Client: 404 - Page Not Found</span>
                    <p>Apologies, we are lost! Please click on <a href="{% url 'home' %}" target="_self">Home Page</a>, or click
                        on Sign Out below.</p>
                    <p>&nbsp;</p>
                    <p>Training and Development - 404 Not Found: The requested URL was not found on the server. If you
                        entered the URL manually please check your spelling and try again.</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'logout' %}">[ Sign Out <i class="material-icons">pan_tool</i> ]</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}