{% extends "base.html" %}
{% block title %}
404
{% endblock %}
{% block content %}

<div class="container">
    <h3>404 Page Not Found</h3>
    <div style="background-image: url('aron-visuals-3jBU9TbKW7o-unsplash.jpg');"></div>
    Photo by <a href="https://unsplash.com/@aronvisuals?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Aron Visuals</a> on 
    <a href="https://unsplash.com/s/photos/direction?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</div>
{% endblock %}